.posterPreview > img{
    width: 100% ;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}
.posterPreview{
    /*width: 100%;*/
    /*background-color: #1E2021;*/
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    /*height: 59%;*/
}
.posterPreviewWithoutImage{
    background-color: #1E2021;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    height: 49%;
}